In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('dataset.csv')

In [3]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [4]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [6]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

Feature Selection Part

In [7]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies = movies[['id', 'title', 'overview', 'genre']]

In [9]:
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [10]:
movies['genre'].unique()
movies['genre'].head()

0             Drama,Crime
1    Comedy,Drama,Romance
2             Drama,Crime
3       Drama,History,War
4             Drama,Crime
Name: genre, dtype: object

In [11]:
movies = movies.copy()
movies['tags'] = movies['overview'] + movies['genre']

In [12]:
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [13]:
new_data = movies.drop(columns=['overview'])

In [14]:
new_data

,id,title,genre,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv = CountVectorizer(max_features = 10000, stop_words = 'english')

In [17]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [18]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [19]:
vector.shape

(10000, 10000)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity = cosine_similarity(vector)

In [22]:
similarity

array([[1.        , 0.05555556, 0.12708214, ..., 0.0745356 , 0.10910895,
        0.06804138],
       [0.05555556, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12708214, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.09338592],
       ...,
       [0.0745356 , 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.10910895, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06804138, 0.        , 0.09338592, ..., 0.03042903, 0.04454354,
        1.        ]])

In [23]:
new_data[new_data['title'] == "The Godfather"].index[0]

np.int64(2)

In [24]:
distance = sorted(list(enumerate(similarity[2])), reverse = True, key = lambda vector:vector[1])

for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [25]:
def recommand(movies, top_n=5):
    index = new_data[new_data['title'] == movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector: vector[1])

    results = []
    for i in distance[:top_n]:
        results.append(new_data.iloc[i[0]].title)
    return results

In [26]:
recommand("Iron Man")

['Iron Man',
 'Iron Man 3',
 'Guardians of the Galaxy Vol. 2',
 'Avengers: Age of Ultron',
 'Star Wars: Episode III - Revenge of the Sith']

# recommend by genres #

In [27]:
new_data['genre'].head()

0             Drama,Crime
1    Comedy,Drama,Romance
2             Drama,Crime
3       Drama,History,War
4             Drama,Crime
Name: genre, dtype: object

In [28]:
new_data['genre'].unique()

array(['Drama,Crime', 'Comedy,Drama,Romance', 'Drama,History,War', ...,
       'Action,TV Movie,Science Fiction,Comedy,Adventure',
       'Action,Science Fiction,War', 'Adventure,Fantasy,Action,Drama'],
      dtype=object)

In [29]:
new_data['genre'].dtype

dtype('O')

In [30]:
non_string_genres = new_data[~new_data['genre'].apply(lambda x: isinstance(x, str))]
len(non_string_genres)

3

In [31]:
new_data['genre'] = new_data['genre'].fillna('')

In [32]:
new_data['genre'] = new_data['genre'].astype(str)

In [33]:
new_data['genre'] = new_data['genre'].str.strip().str.replace(' ', '')

In [34]:
new_data['genre'] = new_data['genre'].replace('nan', '')

In [35]:
new_data['genre'] = new_data['genre'].apply(lambda x: x.split(',') if x != '' else [])

In [36]:
new_data['genre'].head()

0              [Drama, Crime]
1    [Comedy, Drama, Romance]
2              [Drama, Crime]
3       [Drama, History, War]
4              [Drama, Crime]
Name: genre, dtype: object

In [37]:
empty_genre_entries = new_data[new_data['genre'].apply(lambda x: len(x) == 0)]
len(empty_genre_entries)

3

In [38]:
from sklearn.preprocessing import MultiLabelBinarizer

In [39]:
mlb = MultiLabelBinarizer()

In [40]:
genre_encoded = pd.DataFrame(mlb.fit_transform(new_data['genre']), columns=mlb.classes_, index=new_data.index)

In [41]:
new_data = pd.concat([new_data, genre_encoded], axis=1)

In [42]:
new_data[['genre'] + list(mlb.classes_)].head()

,genre,Action,Adventure,Animation,Comedy,Crime,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,"[Drama, Crime]",0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,"[Comedy, Drama, Romance]",0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2,"[Drama, Crime]",0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,"[Drama, History, War]",0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0
4,"[Drama, Crime]",0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0

In [43]:
genre_counts = new_data[list(mlb.classes_)].sum().sort_values(ascending=False)

In [44]:
genre_counts

Drama             4542
Comedy            3714
Thriller          2663
Action            2213
Romance           1680
Adventure         1558
Crime             1453
Horror            1366
Family            1157
ScienceFiction    1139
Fantasy           1085
Animation          896
Mystery            865
History            475
War                313
Music              289
Western            144
TVMovie            133
dtype: int64

### Select if have at least 1 genre ###

In [45]:
def recommend_by_genres_or(genres_to_search):
    filtered_movies = new_data[new_data['genre'].apply(lambda x: any(genre in x for genre in genres_to_search))]
    
    if not filtered_movies.empty:
        top_movies = filtered_movies.head(5)
        for _, row in top_movies.iterrows():
            print(row['title'])
    else:
        print(f"No movies found with genres: {genres_to_search}")

In [46]:
genres_to_search = ["War"]
recommend_by_genres_or(genres_to_search)

Schindler's List
Grave of the Fireflies
The Pianist
The Great Dictator
Come and See

### Select if have all genre ###

In [47]:
def recommend_by_genres(genres, top_n=5):
    filtered_data = new_data[new_data['genre'].apply(lambda x: all(g in x for g in genres))]

    if not filtered_data.empty:
        for i, title in enumerate(filtered_data['title'].head(top_n), start=1):
            print(f"{i}. {title}")
    else:
        print(f"No movies found with genres: {genres}")

In [48]:
# genres_to_search = ["War"]
genres_to_search = ["Drama", "War", "Music"]
recommend_by_genres(genres_to_search, top_n=5)

1. Cold War
2. Hair

## Recommend By Genres & Title ##

In [49]:
def recommend_by_genres_and_title(movies, genres, top_n=5):

    movie_based_recommendations = recommand(movies, top_n=len(new_data))
    filtered_data = new_data[new_data['genre'].apply(lambda x: all(g in x for g in genres))]

    if not filtered_data.empty:
        genre_counts = {}
        for movie_title in movie_based_recommendations:
            movie_row = filtered_data[filtered_data['title'] == movie_title]
            if not movie_row.empty:
                genres_in_movie = movie_row.iloc[0]['genre']
                count = sum([1 for g in genres if g in genres_in_movie])
                genre_counts[movie_title] = count

        sorted_movies = sorted(genre_counts.items(), key=lambda x: x[1], reverse=True)
        results = [movie[0] for movie in sorted_movies[:top_n]]
        return results
    else:
        print(f"No movies found with genres: {genres}")
        return []

In [50]:
movies = "Joker"
genres = ["Drama", "Music"]

result = recommend_by_genres_and_title(movies, genres)
print("Movies recommended by title and genres:")
print(result)

Movies recommended by title and genres:
["Get Rich or Die Tryin'", 'SLC Punk', 'The Visitor', 'Step Up', 'Limelight']

In [51]:
import pickle

In [52]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [53]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [54]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,genre,tags,Action,Adventure,Animation,Comedy,Crime,Drama,...,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,278,The Shawshank Redemption,"[Drama, Crime]",Framed in the 1940s for the double murder of h...,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]","Raj is a rich, carefree, happy-go-lucky second...",0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
2,238,The Godfather,"[Drama, Crime]","Spanning the years 1945 to 1955, a chronicle o...",0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,424,Schindler's List,"[Drama, History, War]",The true story of how businessman Oskar Schind...,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,240,The Godfather: Part II,"[Drama, Crime]",In the continuing saga of the Corleone crime f...,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"[Action, Adventure, Fantasy]","The story follows the adventures of Aang, a yo...",1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,331446,Sharknado 3: Oh Hell No!,"[Action, TVMovie, ScienceFiction, Comedy, Adve...",The sharks take bite out of the East Coast whe...,1,1,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
9997,13995,Captain America,"[Action, ScienceFiction, War]","During World War II, a brave, patriotic Americ...",1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
9998,2312,In the Name of the King: A Dungeon Siege Tale,"[Adventure, Fantasy, Action, Drama]",A man named Farmer sets out to rescue his kidn...,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9999,455957,Domino,"[Thriller, Action, Crime]",Seeking justice for his partner’s murder by an...,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0